<footer class="footer-inicio">
    <section class="footer">
        <p> Si caminas solo irás más rápido, si caminas acompañado llegarás más lejos.</p>
        <h3>"Hagámoslo juntos"</h3>
    </section>
    <section class="redes-logo">
        <div class="redes" width="300px" >
            <a href="https://api.whatsapp.com/send?phone=573160549250&text=Gracias%20por%20contactar%20nuestros%20servicios,%20en%20que%20te%20podemos%20ayudar?" target="_blank"><img src="{{url_for('static', filename='imagenes/whatsapp.png')}}" alt="logo whatsapp"></a>
             <a href="https://www.facebook.com/profile.php?id=100092173749217&mibextid=ZbWKwL" target="_blank"><img src="{{url_for('static', filename='imagenes/facebook.png')}}" alt="logo de facebook"></a>
            <a href="https://www.youtube.com/channel/UClVK1jPhCte2Rrsk570zt8A" target="_blank"><img src="{{url_for('static', filename='imagenes/youtube.png')}}" alt="logo de youtube"></a>
            <a href="https://www.linkedin.com/in/sergio-ni%C3%B1o-725198171/" target="_blank"><img src="{{url_for('static', filename='imagenes/linkedin.png')}}" alt="logo de linkedin"></a>
            <a href="mailto:comercial@asurgir.es" target="_blank"><img src="{{url_for('static', filename='imagenes/email.png')}}" alt="logo de correo"></a>
        </div>
                           
    </section>
</footer>
</html>